<a href="https://colab.research.google.com/github/IdaSharonJ/Simplepython-codes/blob/main/datastructures%20exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTS**

Lists are used to store multiple items in a single variable. They are created using square brackets.

In [14]:
# example
l = [34,"Hakuna matata",65,"apple",24,75,"hi"]
l

[34, 'Hakuna matata', 65, 'apple', 24, 75, 'hi']

In [15]:
# let us create a list of numbers to execute list methods
num = [23,54,65,90,17,86,59,34,82,76]
num

[23, 54, 65, 90, 17, 86, 59, 34, 82, 76]

In [16]:
dir (num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**APPEND**

This function adds and element to the end of the list.

In [18]:
num.append (83)
num

[23, 54, 65, 90, 17, 86, 59, 34, 82, 76, 83]

**CLEAR**

This function removes all the elements from the list.

In [19]:
num.clear ()
num

[]

In [24]:
# since we cleared the previous list, create the list again.
num = [23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**COPY**

This function returns the copy of the list.

In [26]:
num.copy
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**COUNT**

This function returns the number of any specific element in the list.

In [27]:
#This will tell us how many times 54 is repeated in the list.
num.count (54)

3

**EXTEND**

This function adds elements of a list to the end of the another list.
The count of elements in both lists must be same. If not, while executing the function, the elemnts of the smaller list will be copied and displayed to match the count of elements of the other list.

In [32]:
# To execute this function, let us create another list
char = ["A","B","C","D","E"]
num.extend(char)
print(num)

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83, 'A', 'B', 'C', 'D', 'E', 'A', 'B', 'C', 'D', 'E']

**INDEX** 
 
This function returns the index of the first value (ie.) It gives the position of the element in the list.

In [33]:
num.index(86)

5

**INSERT**

This function adds an element in a specific position.

In [41]:
# To execute this let create the numbers list again.
num = [23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

In [37]:
num.insert(2,"pie")
num

[23, 54, 'pie', 65, 90, 54, 86, 59, 54, 82, 65, 83]

**POP**

This function removes an element from the specified position.

In [38]:
# Let us remove the "pie" element which we inserted before.
num.pop(2)
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**REMOVE**

This function removes the specified element from the list. We need not give the position of the element.

In [42]:
num.remove(65)
num

[23, 54, 90, 54, 86, 59, 54, 82, 65, 83]

**REVERSE**

This function reverses the order of the list.

In [46]:
# Let us create an easy list to execute this function
numbers = [1,2,3,4,5,6,7]
numbers

[1, 2, 3, 4, 5, 6, 7]

In [48]:
numbers.reverse()
print (numbers)

[7, 6, 5, 4, 3, 2, 1]

**SORT**

This function sorts the order of the list. By default it gives an ascending order.

In [49]:
num.sort()
num

[23, 54, 54, 54, 59, 65, 82, 83, 86, 90]