<a href="https://colab.research.google.com/github/IdaSharonJ/Simplepython-codes/blob/main/datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LISTS**

Lists are used to store multiple items in a single variable. They are created using square brackets.

In [ ]:
# example
l = [34,"Hakuna matata",65,"apple",24,75,"hi"]
l

[34, 'Hakuna matata', 65, 'apple', 24, 75, 'hi']

In [ ]:
# let us create a list of numbers to execute list methods
num = [23,54,65,90,17,86,59,34,82,76]
num

[23, 54, 65, 90, 17, 86, 59, 34, 82, 76]

In [ ]:
dir (num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**APPEND**

This function adds and element to the end of the list.

In [ ]:
num.append (83)
num

[23, 54, 65, 90, 17, 86, 59, 34, 82, 76, 83]

**CLEAR**

This function removes all the elements from the list.

In [ ]:
num.clear ()
num

[]

In [ ]:
# since we cleared the previous list, create the list again.
num = [23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**COPY**

This function returns the copy of the list.

In [ ]:
num.copy
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**COUNT**

This function returns the number of any specific element in the list.

In [ ]:
#This will tell us how many times 54 is repeated in the list.
num.count (54)

3

**EXTEND**

This function adds elements of a list to the end of the another list.
The count of elements in both lists must be same. If not, while executing the function, the elemnts of the smaller list will be copied and displayed to match the count of elements of the other list.

In [ ]:
# To execute this function, let us create another list
char = ["A","B","C","D","E"]
num.extend(char)
print(num)

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83, 'A', 'B', 'C', 'D', 'E', 'A', 'B', 'C', 'D', 'E']

**INDEX** 
 
This function returns the index of the first value (ie.) It gives the position of the element in the list.

In [ ]:
num.index(86)

5

**INSERT**

This function adds an element in a specific position.

In [ ]:
# To execute this let create the numbers list again.
num = [23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

In [ ]:
num.insert(2,"pie")
num

[23, 54, 'pie', 65, 90, 54, 86, 59, 54, 82, 65, 83]

**POP**

This function removes an element from the specified position.

In [ ]:
# Let us remove the "pie" element which we inserted before.
num.pop(2)
num

[23, 54, 65, 90, 54, 86, 59, 54, 82, 65, 83]

**REMOVE**

This function removes the specified element from the list. We need not give the position of the element.

In [ ]:
num.remove(65)
num

[23, 54, 90, 54, 86, 59, 54, 82, 65, 83]

**REVERSE**

This function reverses the order of the list.

In [ ]:
# Let us create an easy list to execute this function
numbers = [1,2,3,4,5,6,7]
numbers

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers.reverse()
print (numbers)

[7, 6, 5, 4, 3, 2, 1]

**SORT**

This function sorts the order of the list. By default it gives an ascending order.

In [ ]:
num.sort()
num

[23, 54, 54, 54, 59, 65, 82, 83, 86, 90]

# **SET**

Set is a collecion of unordered and unindexed elements. They are used to store multiple elements in a single variable. Sets are given inside curly braces.

In [ ]:
# example
myset = {"appy",23,76,0}
myset

{0, 23, 76, 'appy'}

In [ ]:
# Let us create a set to excute all our functions
sets = {1,2,3,4,5,6,7,8,9}
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
dir (sets)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**ADD**

This function adds an elemnt to the set.

In [ ]:
sets.add(10)
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**CLEAR**

This function removes all the elements from the set.

In [ ]:
sets.clear()
sets

set()

In [ ]:
# Let us again create the set to execute other functions further.
sets = {1,2,3,4,5,6,7,8,9,10}
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**COPY**

This function returns the copy of the set.

In [ ]:
myset.copy
myset

{0, 23, 76, 'appy'}

DIFFERENCE

This function returns the difference between two sets. For example, we have two sets A and B. This function returns the elements which are **present** in set A which are **not** **present** in set B.

In [ ]:
# Let us create another set to find difference between two sets
setz = {1,2,5,4,76,34,25,9,32}
setz

{1, 2, 4, 5, 9, 25, 32, 34, 76}

In [ ]:
newset = sets.difference(setz)
newset

{3, 6, 7, 8, 10}

DIFFERNCE_UPDATE

This function removes the items that exist in both sets.

In [ ]:
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
setz

{1, 2, 4, 5, 9, 25, 32, 34, 76}

In [ ]:
sets.difference_update(setz)
print (sets)

{3, 6, 7, 8, 10}

**DISCARD**

This function removes a specific element from the set.

In [ ]:
sets.discard(10)
sets

{3, 6, 7, 8}

**INTERSECTION**

This function returns a set that contains the items that exist in both sets.

In [ ]:
sets = {1,2,3,4,5,6,7,8,9,10}
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
setz = {11,2,3,44,55,6,77,88,99,10}
setz

{2, 3, 6, 10, 11, 44, 55, 77, 88, 99}

In [ ]:
newset = sets.intersection(setz)
print (newset)

{10, 2, 3, 6}

**INTERSECTION_UPDATE**

This function removes the items which are not present in both sets.

In [ ]:
sets = {1,2,3,4,5,6,7,8,9,10}
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
setz = {11,2,3,44,55,6,77,88,99,10}
setz

{2, 3, 6, 10, 11, 44, 55, 77, 88, 99}

In [ ]:
sets.intersection_update(setz)
print (sets)

{10, 2, 3}

**ISDISJOINT**

This function returns True if no items in set A is present in set B. This helps us to check whether the two sets are in intersection or not.

In [ ]:
newset = sets.isdisjoint(setz)
print (newset)
#It is False here because Set B has some elements same as Set A.

False

**ISSUBSET**

This function returns True if all items in set A are present in set B.

In [ ]:
newset = sets.issubset(setz)
print (newset)
# It is True here because all elements of Set A are present in Set B.

True

**ISSUPERSET**

This function returns True if all items set B are present in set A.

In [ ]:
newset = sets.issuperset(setz)
print (newset)
#It is False because not all elements of Set B are present in Set A.

False

**POP**

This function removes a random item from the set.

In [ ]:
sets = {1,2,3,4,5,6,7,8,9,10}
sets.pop()
sets

{2, 3, 4, 5, 6, 7, 8, 9, 10}

**REMOVE**

This function removes a specific element from the set.

In [ ]:
sets.remove(6)
sets

{2, 3, 4, 5, 7, 8, 9, 10}

SYMMETRIC DIFFERENCE

This function returns a set that contains all items from both sets, except items that are present in both sets.

In [ ]:
set1 = {"apple","cherry","plum","orange"}
set2 = {"red","blue","orange","green"}
set3 = set1.symmetric_difference(set2)
set3

{'apple', 'blue', 'cherry', 'green', 'plum', 'red'}

SYMMTRIC_DIFFERENCE_UPDATE

This function returns a set that contains all items from both sets, except items that are present in both sets.

In [ ]:
set1 = {"apple","cherry","plum","orange"}
set2 = {"red","blue","orange","green"}
set1.symmetric_difference_update(set2)
print(set1)

{'blue', 'plum', 'cherry', 'apple', 'green', 'red'}

**UNION**

This function returns a set that contains all items from both sets. Here duplicates are excluded.

In [ ]:
set1 = {"apple","cherry","plum","orange"}
set2 = {"red","blue","orange","green"}
set3 = set1.union(set2)
print (set3)

{'blue', 'plum', 'orange', 'cherry', 'apple', 'green', 'red'}

**UPDATE**

This function inserts the items from set B into set A.

In [ ]:
set1 = {"apple","cherry","plum","orange"}
set2 = {"red","blue","orange","green"}
set1.update(set2)
print(set1)

{'blue', 'plum', 'orange', 'cherry', 'apple', 'green', 'red'}

# **DICTIONARY**

Dictionaries are used to store data values as 'key:value' pairs. It is an ordered collection and do not allow duplicates.

In [2]:
# example
mydict = {"an apple a day":"keeps the doctor away",3.14:"value of pie", "odd":"even"}
mydict

{'an apple a day': 'keeps the doctor away',
 3.14: 'value of pie',
 'odd': 'even'}

In [3]:
dir (mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**CLEAR**

This function clears all the keys and values stored in the dictionary.

In [ ]:
mydict.clear()
mydict

{}

**COPY**

This function gives a copy the dictionary we need.

In [ ]:
mydict = {"an apple a day":"keeps the doctor away",3.14:"value of pie", "odd":"even"}
mydict.copy
mydict

{'an apple a day': 'keeps the doctor away',
 3.14: 'value of pie',
 'odd': 'even'}

**FROM KEYS**

This function returns a dictionary with the specified keys and value.

In [ ]:
a = {"chennai","pune","banglore"}
b = 0
thisdict = dict.fromkeys(a,b)
print (thisdict)

{'pune': 0, 'banglore': 0, 'chennai': 0}

**GET**

This function returns the value of the specified key.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
a = bike.get("colour")
print(a)

black

**ITEMS**

This function returns the dictionary's key-value pairs.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
a = bike.items()
print(a)

dict_items([('model', 'Royal Enfield'), ('colour', 'black'), ('year of purchase', '2014')])

**KEYS**

This function gives only the keys present in the dictionary

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
a = bike.keys()
print(a)

dict_keys(['model', 'colour', 'year of purchase'])

**POPITEM**

This function removes the last item of the dictionary.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
bike.popitem()
bike

{'model': 'Royal Enfield', 'colour': 'black'}

**SET DEFAULT**

This function returns the value of the specified key. If the key does not exist: inserts the key, with the specified value.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
a = bike.setdefault("model","Honda Hornett")
print(a)

Royal Enfield

**UPDATE**

This function updates the dictionary with the specified key-value pairs.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
bike.update({"model":"Honda Hornett"})
print(bike)

{'model': 'Honda Hornett', 'colour': 'black', 'year of purchase': '2014'}

**VALUES**

This function returns a list of all the values in the dictionary.

In [ ]:
bike = {"model":"Royal Enfield","colour":"black","year of purchase":"2014"}
a = bike.values()
print(a)

dict_values(['Royal Enfield', 'black', '2014'])

# **TUPLES**

A tuple is a collection which is ordered and indexed. Tuples are written with round brackets. Tuples are used to store multiple items in a single variable.

In [4]:
# example
mytup = ("python","Java","SPSS","SQL")
mytup

('python', 'Java', 'SPSS', 'SQL')

In [6]:
dir (mytup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**COUNT**

This funtion returns the number of times a specified value occurs in a tuple.

In [ ]:
tup = (1,4,2,4,3,5,6,4,7,8,4,9,4)
tup.count(4)

5

**INDEX**

This function searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
tup = (1,4,2,4,3,5,6,4,7,8,4,9,4)
tup.index(3)

4